.footer {
  background-color: transparent;
  color: #ddd;
  padding: 40px 20px;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.footer-top p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #fff;
}

/* Social Icons */
.social-icons a {
  color: #fff;
  margin: 0 15px;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.social-icons>:nth-child(1):hover {
  color: #d62976;
}
.social-icons>:nth-child(2):hover{
  color: var(--orange);
}
.social-icons>:nth-child(3):hover{
  color: #0077B5;
}

/* Bottom Section */
.footer-bottom {
  font-size: 1rem;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.footer-bottom a:hover {
  color: var(--orange);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .footer-middle {
      flex-direction: column;
      text-align: center;
  }

  .footer-links {
      margin-bottom: 20px;
  }
  
  .social-icons a {
      margin: 0 10px;
  }
}
