.Footer-Container {
    position: relative;
    width: 100%;
  }
  
  .Footer-Container > hr {
    border: 1px solid var(--lightgray);
    width: 90%;
    margin: 0 auto;
  }
  
  .footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 4rem;
    text-align: center;
  }
  
  .social {
    display: flex;
    gap: 2rem;
    height: 2rem;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social > img {
    width: 2.5rem;
    margin-right: 1rem;
  }
  
  .logo-f {
    width: auto;
    max-width: 80%;
  }
  
  .footer-blur-1,
  .footer-blur-2 {
    width: 20rem;
    height: 10rem;
    bottom: 0;
    filter: blur(150px);
    background-color: red;
    position: absolute;
  }
  
  .footer-blur-1 {
    right: 10%;
  }
  
  .footer-blur-2 {
    left: 10%;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      gap: 1.5rem;
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3rem;
    }
  
    .social {
      gap: 1rem;
      height: auto;
    }
  
    .social > img {
      width: 2rem;
      margin-right: 0.5rem;
    }
  
    .footer-blur-1,
    .footer-blur-2 {
      width: 16rem;
      height: 8rem;
    }
  
    .footer-blur-1 {
      right: 5%;
    }
  
    .footer-blur-2 {
      left: 5%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      padding: 1rem;
      gap: 1rem;
      margin-bottom: 4rem;
    }
  hr{
    max-width:200px;
  }
    .social {
      gap: 0.5rem;
    }
    
    .logo-f{
        display: none;
    }
    .social > img {
      width: 1.8rem;
      margin-right: 3rem;
      
    }
  
    .footer-blur-1,
    .footer-blur-2 {
      width: 12rem;
      height: 6rem;
    }
  
    .footer-blur-1 {
      right: 2%;
    }
  
    .footer-blur-2 {
      left: 2%;
    }
  }

  @media screen and (min-width:768px) and (max-width:1024px){
    .footer {
        padding: 1rem;
        gap: 1rem;
        margin-bottom: 4rem;
      }
      .logo-f{
        display: none;
    }
  }
  @media screen and (min-width:540px) and (max-width:720px) {
    .logo-f{
        display: none;
    }
    .footer {
        padding: 1rem;
        gap: 1rem;
        margin-bottom: 4rem;
      }
  }